body{
    background-color: dimgrey;
    margin: 0;
}
#bandeau{
    background-color: #141414;
    text-align: center;
    width: 100%;
    z-index: 100;
    display: inline-block;
    position: -webkit-sticky; /*Pour les trimards sous safari*/
    position: sticky;
    top: 0;
}
#Nom_site{
    color: whitesmoke;
}
#Feed_infos{
    display: block;
    margin: 0.5%;
    width: fit-content;

}
#titre_infos{
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
}
.roll{
    display: inline-block;
}